%div.box
  %h3 Notwifeについて
  %p Notwifeは「オープンWebサービス」を目指し、ソースコードや今後の計画・展望、開発や運営に関する議論を公開しています。皆さんからのアクセスをお待ちしています！

%div.box
  %h3 GitHub
  %ul
    %li
      %a{ :href => 'https://github.com/notwife', :title => 'notwife\'s Profile - GitHub'} notwife's Profile - GitHub

%div.box
  %h3 Twitter
  %ul
    %li
      %a{ :href => 'http://twitter.com/notwife', :title => 'notwife (notwife) on Twitter' } notwife (notwife) on Twitter

%div.box
  %h3 Lingr
  %ul
    %li
      %a{ :href => 'http://lingr.com/room/notwife', :title => 'notwife room on Lingr' } notwife room on Lingr

%div.box
  %h3 Pivotal Tracker
  %ul
    %li
      %a{ :href => 'https://www.pivotaltracker.com/projects/143479', :title => 'notwife - Pivotal Tracker'} notwife - Pivotal Tracker
