%div.box
  %h3 Notwifeについて
  %p Notwifeは「オープンWebサービス」を目指し、ソースコードや今後の計画・展望、開発や運営に関する議論を公開しています。皆さんからのアクセスをお待ちしています！

%div.box
  %h3 GitHub
  %ul
    %li
      %a{ :href => 'https://github.com/notwife', :title => 'notwife\'s Profile - GitHub'} notwife's Profile - GitHub

%div.box
  %h3 Twitter
  %ul
    %li
      %a{ :href => 'http://twitter.com/notwife', :title => 'notwife (notwife) on Twitter' } notwife (notwife) on Twitter

%div.box
  %h3 Lingr
  %ul
    %li
      %a{ :href => 'http://lingr.com/room/notwife', :title => 'notwife room on Lingr' } notwife room on Lingr

%div.box
  %h3 Pivotal Tracker
  %ul
    %li
      %a{ :href => 'https://www.pivotaltracker.com/projects/143479', :title => 'notwife - Pivotal Tracker'} notwife - Pivotal Tracker

%div.box
  %h3 Contributors
  %ul
    %li
      %a{ :href => "http://twitter.com/kei_s", :title => "kei-s (kei_s) on Twitter" } @kei_s
    %li
      %a{ :href => "http://twitter.com/june29", :title => "Jun OHWADA (june29) on Twitter" } @june29
    %li
      %a{ :href => "http://twitter.com/ursm", :title => "Keita Urashima (ursm) on Twitter" } @ursm
    %li
      %a{ :href => "http://twitter.com/hmsk", :title => "KengoHAMASAKI (hmsk) on Twitter" } @hmsk

%div.box
  %h3 Our Words
  %ul
    %li
      %a{ :href => "http://june29.jp/2010/11/23/notwife/", :title => "TwitterのイベントをNotifo経由でプッシュする「Notwife」をリリースしました - 準二級.jp" } TwitterのイベントをNotifo経由でプッシュする「Notwife」をリリースしました - 準二級.jp
    %li
      %a{ :href => "http://d.hatena.ne.jp/kei-s/20101208/1291738179", :title => "Notwife というサービスを始めました - 札幌市西区" } Notwife というサービスを始めました - 札幌市西区

%div.box
  %h3 Special Thanks
  %ul
    %li
      %a{ :href => "http://d.hatena.ne.jp/risouf/20101123/1290505336", :title => "Notwife がすごく良い！ - risou style" } Notwife がすごく良い！ - risou style
    %li
      %a{ :href => "http://d.hatena.ne.jp/sugyan/20101129/1290957567", :title => "Notwifeの自分への通知を自分で行うスクリプト - すぎゃーんメモ" } Notwifeの自分への通知を自分で行うスクリプト - すぎゃーんメモ
