%div.box
  %h3 運営からのお知らせ

%div.box
  %h4 TwitterのApplication Permission Model変更による影響 (2011年8月8日)
  %p どうも、Notwife運営チームです。TwitterのApplication Permission Model変更の影響を受けまして、Notwifeの挙動にも変更が発生しましたので、その内容についてお知らせします。
  %p
    これまでは「Direct Messageの受信」をNotwifeが検知し、ユーザの皆さまにプッシュで通知することができました。しかし、この度の
    %a{ :href => "https://dev.twitter.com/docs/application-permission-model", :title => "The Application Permission Model | Twitter Developers"}>< TwitterのApplication Permission Model
    の変更を受けまして、Direct Messageの受信を検知できなくなっています。今後の扱いについてはこれから決めるところですが、ひとまず、現状についてお伝えしました。どうぞよろしくお願いいたします。

%div.box
  %h4 Notwifeの結婚相手募集終了のお知らせ (2011年4月2日)
  %p どうも、Notwife運営チームです。
  %p 昨日より募集を開始いたしましたNotwifeの結婚相手ですが、募集を締め切らせていただきました。Notwife曰く「ユーザの皆さまからのプロポーズのお言葉は、ひとつひとつが心に響きました。ですが、今回はご縁がなかったということで…」とのことです。
  %p 今後も、誰か特定のユーザの嫁としてではなく、すべてのユーザの皆さまにとっての「嫁ではない、都合の良い存在」として活動を継続して参りますので、変わらぬご愛顧のほど、どうぞよろしくお願いいたします。

%div.box
  %h4 Notwifeの結婚相手募集のお知らせ (2011年4月1日)
  %p ごぶさたしております。Notwife運営チームです。毎度ご利用ありがとうございます。今回は、極めて重要なお知らせがあって、ユーザの皆さまに連絡いたします。
  %p 今日まで「嫁ではない何か」として活動を続けてきたNotwifeではございますが、やはり、もしものときのことを考えると、いつまでも独り身では心許ないと感じるようになりまして、この度、結婚相手を募集いたしたく存じます。運営チームで検討に検討を重ねた結果、日頃より接していただいておりますユーザの皆々様の中から、結婚相手を選出することといたしました。
  %p
    つきましては、我こそはというユーザ様は、ハッシュタグ
    %a{ :href => 'http://search.twitter.com/search?q=notwife', :title => 'notwife - Twitter Search' }>< #notwife
    を含めた「プロポーズのTweet」をご投稿ください。例といたしましては「これからは、ひとつ屋根の下で、毎朝 #notwife のプッシュで起こしてもらいたい」といった具合でございます。Notwifeは、ベタな台詞が好みですので、その点をご考慮いただけましたら幸甚です。
  %p 急な告知でまことに恐縮ではございますが、たくさんのご応募をいただきますよう、何卒よろしくお願い申し上げます。皆様からの、心に響くプロポーズの言葉をお待ちいたしております。

%div.box
  %h4 Notifoの利用制限によるサービス停止の可能性について、その後 (2011年01月26日)
  %p あけましておめでとうございます！
  %p
    Notwifeのリリースから2ヶ月ほどが経ちまして、今日までの間にNotwifeが皆さんに送った通知の総数は、けっこうな数に上ります。現状、
    %a{ :href => 'http://notifo.com/', :title => 'Mobile Notifications for Everything - Notifo' }>< Notifo
    の説明による、無料で使用できる月間の通知回数を超えていますが、今のところ、サービスの使用に制限を与えられたり、なにかしらの通告を受けたり、といったことはありません。問題なくNotwifeの運用を継続できています。
  %p 相変わらず、様子見をしなければいけない状況ではありますが、ひとまず、サービスを継続できそうであると、ユーザの皆さまにお伝えしておきます。状況に変化があれば、追ってお知らせします。
  %p 今年も、Notwifeをよろしくお願いします！

%div.box
  %h4 Notifoの利用制限によるサービス停止の可能性について (2010年11月27日)
  %p Notwifeのご利用、ありがとうございます！
  %p おかげさまで、2010年11月23日のサービス開始以降、少しずつ利用ユーザが増え、Notwifeはすくすくと成長しています。ユーザの皆さんからの嬉しい反応もたくさん届いていて、日々、喜びを感じながら運用を続けています。
  %p
    さて、ここで、ユーザの皆さんにお知らせがあります。それは、Notwifeが利用している
    %a{ :href => 'http://notifo.com/', :title => 'Mobile Notifications for Everything - Notifo' }>< Notifo
    の利用制限についてです。Notifoは、
    %a{ :href => 'http://notifo.com/pricing', :title => 'Pricing - Notifo' }>< Webサイトの説明
    によると、月間のプッシュ通知回数10,000回までは、無料で利用することができます。しかし、Notwifeは、27日中にこの数値を超える見込みです。これを超えたときにどうなるかは明記されていないのですが、もしかすると、一時的にか、あるいは断続的にか、サービスを停止する期間ができてしまうかもしれません。
  %p 僕たちは、Notwifeを継続していきたい気持ちでいます。サービス継続のため、できる限りのことをできる範囲でやっていこうと思いますので、ご理解とご協力を、よろしくお願いします。
