%div.box
  %h3 運営からのお知らせ

%div.box
  %h4 Notifoの利用制限によるサービス停止の可能性について、その後 (2011年01月26日)
  %p あけましておめでとうございます！
  %p
    Notwifeのリリースから2ヶ月ほどが経ちまして、今日までの間にNotwifeが皆さんに送った通知の総数は、けっこうな数に上ります。現状、
    %a{ :href => 'http://notifo.com/', :alt => 'Mobile Notifications for Everything - Notifo' }>< Notifo
    の説明による、無料で使用できる月間の通知回数を超えていますが、今のところ、サービスの使用に制限を与えられたり、なにかしらの通告を受けたり、といったことはありません。問題なくNotwifeの運用を継続できています。
  %p 相変わらず、様子見をしなければいけない状況ではありますが、ひとまず、サービスを継続できそうであると、ユーザの皆さまにお伝えしておきます。状況に変化があれば、追ってお知らせします。
  %p 今年も、Notwifeをよろしくお願いします！

%div.box
  %h4 Notifoの利用制限によるサービス停止の可能性について (2010年11月27日)
  %p Notwifeのご利用、ありがとうございます！
  %p おかげさまで、2010年11月23日のサービス開始以降、少しずつ利用ユーザが増え、Notwifeはすくすくと成長しています。ユーザの皆さんからの嬉しい反応もたくさん届いていて、日々、喜びを感じながら運用を続けています。
  %p
    さて、ここで、ユーザの皆さんにお知らせがあります。それは、Notwifeが利用している
    %a{ :href => 'http://notifo.com/', :alt => 'Mobile Notifications for Everything - Notifo' }>< Notifo
    の利用制限についてです。Notifoは、
    %a{ :href => 'http://notifo.com/pricing', :alt => 'Pricing - Notifo' }>< Webサイトの説明
    によると、月間のプッシュ通知回数10,000回までは、無料で利用することができます。しかし、Notwifeは、27日中にこの数値を超える見込みです。これを超えたときにどうなるかは明記されていないのですが、もしかすると、一時的にか、あるいは断続的にか、サービスを停止する期間ができてしまうかもしれません。
  %p 僕たちは、Notwifeを継続していきたい気持ちでいます。サービス継続のため、できる限りのことをできる範囲でやっていこうと思いますので、ご理解とご協力を、よろしくお願いします。
