%div.box
  %h3 運営からのお知らせ

%div.box
  %h4 Notifoの利用制限によるサービス停止の可能性について (2010年11月27日)
  %p Notwifeのご利用、ありがとうございます！
  %p おかげさまで、2010年11月23日のサービス開始以降、少しずつ利用ユーザが増え、Notwifeはすくすくと成長しています。ユーザの皆さんからの嬉しい反応もたくさん届いていて、日々、喜びを感じながら運用を続けています。
  %p
    さて、ここで、ユーザの皆さんにお知らせしておかなければならないことがあります。それは、Notwifeが利用している
    %a{ :href => 'http://notifo.com/', :alt => 'Mobile Notifications for Everything - Notifo' }>< Notifo
    の利用制限についてです。Notifoは、
    %a{ :href => 'http://notifo.com/pricing', :alt => 'Pricing - Notifo' }>< Webサイトの説明
    によると、月間のプッシュ通知回数10,000回までは、無料で利用することができます。しかし、Notwifeは、27日中にこの数値を超える見込みです。これを超えたときにどうなるかは明記されていないのですが、もしかすると、一時的にか、あるいは断続的にか、サービスを停止する期間ができてしまうかもしれません。
  %p 僕たちは、Notwifeを継続していきたい気持ちでいます。サービス継続のため、できる限りのことをできる範囲でやっていこうと思いますので、ご理解とご協力を、よろしくお願いします。
