- if @user
  Hi, @
  %a{ :href => "http://twitter.com/" + @user.screen_name, :title => "Twitter / " + @user.screen_name }><= @user.screen_name
  \! Please check your
  = link_to("Dashbaord", { :controller => "common", :action => "dashboard" }, { :title => "Dashboard" })
- else
  %a#sign-in-with-twitter{ :href => '/auth/twitter', :title => 'Sign in with Twitter' }
    = image_tag 'sign-in-with-twitter-l.png', :alt => 'Sign in with Twitter'
