%div.box
  %h3 たとえば、Twitterの「Favされた！」をリアルタイムにプッシュでお届け。
  %p ──Notwifeは、ちょっと気の利いたアプリです。だけど、あなたの嫁ではありません。

%div.img-box
  = image_tag 'abstract.png', :alt => 'Abstract'

%div.box
  %p
    Notwifeは、
    %a{ :href => 'http://twitter.com/', :alt => 'Twitter'}>< Twitter
    ユーザを対象としたサービスです。あなた宛てのmentionがあった、あなたのtweetがfavoriteされた、あなたが他のユーザのlistに追加された… そんな各種のイベントを、リアルタイム通知サービス
    %a{ :href => 'http://notifo.com/', :alt => 'Mobile Notifications for Everything - Notifo'}>< Notifo
    を通してお届けします。Notifoのアカウントを用意するだけで、すぐに利用を開始できます。

%div.box
  %h3 Notwifeを使ってみる
%div.img-box
  %a#sign-in-with-twitter{ :href => '/auth/twitter', :title => 'Sign in with Twitter' }
    = image_tag 'sign-in-with-twitter-l.png', :alt => 'Sign in with Twitter'

%div.box
  %h3 サービスの運用について
  %p
    NotwifeはTwitterのOAuthを利用します。信用します、という方だけご利用ください。サービスの運用レベルは「がんばります」(ベストエフォート)です。

  %p
    Notwifeに対するご意見等は
    %a{ :href => 'http://twitter.com/notwife', :alt => 'Twitter / notwife'}>< @notwife
    までお願いします。不明な点などあれば、お気軽にお声掛けください。
